@inject PreferenceService Preference
@inject CurrentUserService CurrentUser 
@inject JSInvokeService Js 
@inject UploadService Uploader 
@inject ILogger<DashboardPreferenceComponent> Logger 

@code 
{
    private PreferenceOptions preference;
    private ActionWaiter waiter = new ActionWaiter();

    protected override void OnInitialized()
    {
        preference = ~Preference;
    }

    private async Task Apply()
    {
        if (waiter.CantInvoke) return;

        Logger.LogInformation($"User[{CurrentUser.User.UserName}] changed the preference");
        preference.BackgroundUrl = preference.BackgroundUrl.Trim();
        //if (!Uri.TryCreate(preference.BackgroundUrl, UriKind.Absolute, out Uri result) ||
        //    result.Scheme != Uri.UriSchemeHttps)
        //{
        //    preference.BackgroundUrl = string.Empty;
        //}

        Preference.Options = preference;
        StateHasChanged();
        await Js.ResetButtonAsync();

        waiter.EndInvoke();
    }

    private async Task Reset()
    {
        Logger.LogInformation($"User[{CurrentUser.User.UserName}] reset the preference");
        preference = new PreferenceOptions();
        await Apply();
    }

    private async Task RefreshFileCacheAsync()
    {
        Logger.LogInformation($"User[{CurrentUser.User.UserName}] refreshed the file cache");
        await Uploader.RefreshFileCacheAsync();
    }
}

<EditForm Model="preference" class="my-2">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    @if (CurrentUser.User.IsAdministrator)
    {
        <p class="form-group">
            <label>@localizer["dashboard.site.apptitle"]</label>
            <InputText class="form-control" @bind-Value="preference.AppTitle"></InputText>
        </p>

        <p class="form-group">
            <label>@localizer["dashboard.site.pageCapacity"]</label>
            <InputNumber class="form-control" @bind-Value="preference.PageCapacity"></InputNumber>
        </p>

        <p class="form-group">
            <label>@localizer["dashboard.site.filePerMission"]</label>
            <InputNumber class="form-control" @bind-Value="preference.FilePerMission"></InputNumber>
        </p>
    }

    <p class="form-group">
        <label>@localizer["mission.description.originPrefix"]</label>
        <InputText class="form-control" @bind-Value="preference.DescriptionOriginPrefix"></InputText>
    </p>

    <p class="form-group">
        <label>@localizer["mission.description.originPostfix"]</label>
        <InputText class="form-control" @bind-Value="preference.DescriptionOriginPostfix"></InputText>
    </p>

    <p class="form-group">
        <label>@localizer["mission.description.postfix"]</label>
        <InputTextArea class="form-control" @bind-Value="preference.DescriptionPostfix"></InputTextArea>
    </p>

    <p class="form-group">
        <label>@localizer["dashboard.site.backgroundUrl"]</label>
        <InputTextArea class="form-control" @bind-Value="preference.BackgroundUrl"></InputTextArea>
    </p>

    <button class="btn btn-outline-primary mr-2" @onclick="Apply"
            id="prefApBtn" onmouseup="setButtonBuzy('prefApBtn')">
        @localizer["operation.apply"]
    </button>

    <button class="btn btn-outline-info mr-2" @onclick="RefreshFileCacheAsync"
            id="filecacheResetBtn" onmouseup="setButtonBuzy('filecacheResetBtn')">
        @localizer["operation.resetFileCache"]
    </button>

    @if (CurrentUser.User.IsAdministrator)
    {
        <button class="btn btn-outline-danger" @onclick="Reset"
                id="prefRsBtn" onmouseup="setButtonBuzy('prefRsBtn')">
            @localizer["operation.reset"]
        </button>
    }
</EditForm>

