@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUser 

@code 
{
    private string keyword = string.Empty;
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row auth px-4">
            @if (CurrentUser.User != null)
            {
                <EditForm Model="keyword" class="form-inline" OnSubmit="@(() => NavigationManager.NavigateTo($"/search/{keyword}", forceLoad: true))">
                    <p class="input-group mb-0">
                        <InputText class="form-control" placeholder="@localizer["search.string"]" @bind-Value="@keyword" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit"
                                    id="topSearchBtn" onmouseup="setButtonBuzy('topSearchBtn')">
                                @localizer["operation.search"]
                            </button>
                        </div>
                    </p>
                </EditForm>
                <a href="/me">
                    <span class="oi oi-person mr-1"></span>
                    @CurrentUser.User.NickName.Substring(0, Math.Min(CurrentUser.User.NickName.Length, 9))
                    @if (CurrentUser.User.NickName.Length > 9)
                    {
                        <span>...</span>
                    }
                </a>
             }
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
